<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<link th:href="@{/css/chatting.css}" rel="stylesheet">
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js}"></script>
<script th:inline="javascript">			//roomName과 roomId를 var로 받아오는 스크립트
	var roomName = /*[[${room.name}]]*/ "";
	var roomId = /*[[${room.roomId}]]*/ "";
</script>

<script>
$(document).ready(()=>{
	
    var username = sessionStorage.getItem('userid');    

    console.log(roomName + ", " + roomId + ", " + username);

    var sockJs = new SockJS("/ws-stomp");
    //1. SockJS를 내부에 들고있는 stomp를 내어줌
    var stomp = Stomp.over(sockJs);
	
	//  db에서 채팅기록 불러옴
	$.ajax({
		type:"POST",
		url:"/MessageList",
		success:(response)=>{
			response.forEach(item=>{
				if(item.writer===username){
					str = "<li class='me'>";
					str += "<div class='entete'>";
					str += "<h2>"+item.writer+"</h2></div>";
					str += "<h3>"+item.timestamp+" </h3>";
					str += "<div class='message'>";
					str += "<b>" + item.message+ "</b>";
					str += "</div></li>";
                   $("#chat").append(str);
				}
				else{
					str = "<li class='you'>";
					str += "<div class='entete'>";
					str += "<h2>"+item.writer+"</h2></div>";
					str += "<div class='message'>";
					str += "<b>" + item.message+ "</b></div>";
					str += "<h3>"+item.timestamp+" </h3></li>";
					$("#chat").append(str);
				}
			});
		},
		error:(jqXHR, textStatus, errorThrown)=>{
			console.log(jqXHR, textStatus, errorThrown);	
		}
	});

    //2. connection이 맺어지면 실행
	stomp.connect({}, function (){
       
		//4. subscribe(path, callback)으로 메세지를 받을 수 있음
		stomp.subscribe("/sub/chat/room/"+roomId, (chat) => {
			var content = JSON.parse(chat.body);

			var writer = content.writer;
			var str = '';
			var message = content.message;
			var timestamp = content.timestamp;
			if(message===''){
				return;
			}else{
				if(writer === username){
					str = "<li class='me'>";
					str += "<div class='entete'>";
					str += "<h2>"+writer+"</h2></div>";
					str += "<h3>"+timestamp+" </h3>";
					str += "<div class='message'>";
					str += "<b>" + message+ "</b>";
					str += "</div></li>";
					$("#chat").append(str);
				}
				else{
					str = "<li class='you'>";
					str += "<div class='entete'>";
					str += "<h2>"+writer+"</h2></div>";
					str += "<div class='message'>";
					str += "<b>" + message+ "</b></div>";
					str += "<h3>"+timestamp+" </h3></li>";
					$("#chat").append(str);
				} 
			}  
		});
	});
   
	// 버튼 클릭 시 메시지 보내기
	$("#button-send").on("click", (e)=>{
        var msg = document.getElementById("msg");

        console.log(username + ":" + msg.value);
        stomp.send(
				'/pub/chat/message',
				{},
				JSON.stringify({roomId: roomId, message: msg.value, writer: username})
        	);
        msg.value = '';
    });
    
    // ENTER키 눌렀을 때 메시지 보내기
	$("#msg").on("keydown", (e)=>{
		if (e.key === "Enter") {
			e.preventDefault();
			var msg = document.getElementById("msg");

			console.log(username + ":" + msg.value);
			stomp.send(
				'/pub/chat/message', 
				{}, 
				JSON.stringify({roomId: roomId, message: msg.value, writer: username})
			);
			msg.value = '';

			return false;
		}
	}); 
});
</script>

<script>
let $chattingPerson = document.querySelectorAll(".chattingPerson");

for(let i=0; i<$chattingPerson.length; i++){
	$chattingPerson[i].addEventListener('click',()=>{
		console.log("이호원 병신");
	});
}
</script>

<script>
	$(document).ready(()=>{
		const $chattingPerson = document.querySelectorAll('.chattingPerson');

		for (let i = 0; i < $chattingPerson.length; i++) {
			$chattingPerson[i].addEventListener('click',()=>{
				console.log("test test test test");
			});
		}
	});
</script>

<body>
	<div class="chat_container" style="background-color: #eff3f7;">
		<aside>
			
			<header>
				<div id="userPlusButton"></div>
				<input type="text" id="searchUser" placeholder="search">
			</header>

			<ul id="chattingList">
            <!-- 비 접송 중 -->
				<li class="chattingPerson">
					<img src="/img/chat/user.png" alt="">
					<label>
						<h2>userName</h2>
						<h3>대화내용</h3>
					</label>
				</li>
            <!-- 접속 중 -->
				<li class="chattingPerson">
					<img src="/img/chat/user.png" alt="">
					<label>
						<h2>userName</h2>
						<h3>대화내용</h3>
					</label>
				</li>
			</ul>
		</aside>

		<main>
			<header>
				<img src="/img/chat/user.png" alt="">
				<div>
					<h2>test</h2>
				</div>
			</header>

			<!-- 메시지 전송 및 받기 -->
			<div class="body" style="vertical-align: bottom">
				<ul id="chat"></ul>
			</div>

			<footer>
				<div id="Buy-Send">
					<button type="button" id="button-send" >
						<img src="/img/chat/dm.png" class="dm-icon" id='dm' alt="">
					</button>
				</div>
	
				<textarea id="msg" placeholder="입력하시오"></textarea>
			</footer>	
		</main>
	</div>
</body>

<script type="text/javascript">
$(document).ready(()=>{
	var $searchUser = document.getElementById("searchUser");
	
	$searchUser.addEventListener('input', ()=>{
		var UserList = $searchUser.value;
		console.log(UserList);
		$.ajax({
			type : 'POST',
			url : "/UserList",
			dataType : "JSON",
			data : ({
				userid : UserList
			}),
			success:(response)=>{
				console.log(response);
			},
			error :(request, status, error)=>{
				console.log(error);
			}
		})
	});
});
</script>
</html>