<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>
<h2>준비연습</h2>
<h2 id="userId"></h2>
<h2 th:text="${z}"></h2>
</body>
<script th:inline="javascript">
	var z = /*[[${z}]]*/ "";
</script>
<script>
const Id = document.getElementById("userId");

Id.innerHTML = sessionStorage.getItem('userid');


var name= sessionStorage.getItem('userid');
console.log(z);

</script>
</html>