<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<link th:href="@{/css/chatting.css}" rel="stylesheet">
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js}"></script>
<script th:inline="javascript">			//대화상대와 roomId를 var로 받아오는 스크립트
	let talkerName = /*[[${talkerName}]]*/ "";
	let roomId = /*[[${roomId}]]*/ "";
	let me = sessionStorage.getItem('userid');
	let talkList=/*[[${talkList}]]*/[];
	let messageList = /*[[${MsgList}]]*/[];
	
	
</script>

<script>
	window.onload=()=>{
		// 좌측 유저리스트 중 유저명
		
		// db에서 chattingRoom List 가져오기
		talkList.forEach((index)=>{
			// side 채팅리스트 정의
			let str = "<form action='/chat/visit' method='post' class='chattingPerson' id='chattingPerson'>";
				str += "<input type='hidden' name='talkerName' value='"+index.user+"'>"
				str +="<button id='chattingListBTN' type='submit'>"
				str += "<img class='userImg' src='/img/chat/user.png' alt=''>";
				str += "<label id='deleteTag'>";
				str += "<h2 id='talkUserName'>"+index.user+"</h2>";
				str += "<h3 id='lastMsg_"+talkerName+"'>"+index.last+"</h3></label></button></form>";
			$('.chattingList').append(str);
			
			
		});	

		// main채팅 내역을 db에서 가져옴
		messageList.forEach((index)=>{
			if(index.writer===me){
				let str = "<li class='me'>";
					str += "<div class='entete'>";
					str += "<h2>"+index.writer+"</h2></div>";
					str += "<h3>"+index.timestamp+" </h3>";
					str += "<div class='message'>";
					str += "<b>" + index.message+ "</b>";
					str += "</div></li>";
				$("#chat").append(str);
			}
			else{
				let str = "<li class='you'>";
					str += "<div class='entete'>";
					str += "<h2>"+index.writer+"</h2></div>";
					str += "<div class='message'>";
					str += "<b>" +index.message+ "</b></div>";
					str += "<h3>"+index.timestamp+" </h3></li>";
					$("#chat").append(str);
			}
			
		});
		
		
	};
	
	window.onunload=()=>{
		// 좌측 유저명 검색 input
		let $searchUser = document.getElementById("searchUser");
		
		$searchUser.removeEventListener('input', inputEvent);
	};
	
</script>






<script>
	
$(document).ready(()=>{
	// 좌측 유저명 검색 input
	let $searchUser = document.getElementById("searchUser");

	

	let sockJs = new SockJS("/ws-stomp");
	//1. SockJS를 내부에 들고있는 stomp를 내어줌
	let stomp = Stomp.over(sockJs);
	

	


    //2. main채팅창 connection이 맺어지면 실행
	stomp.connect({},()=>{
		
		//4. subscribe(path, callback)으로 메세지를 받을 수 있음
		stomp.subscribe("/sub/chat/room/"+roomId, (chat) => {
			
			let content = JSON.parse(chat.body);

			let str = '';
			let writer = content.writer;
			let message = content.message;
			let timestamp = content.timestamp;
			if(message===''){
				return;
			}else{
				if(writer === me){
					str = "<li class='me'>";
					str += "<div class='entete'>";
					str += "<h2>"+writer+"</h2></div>";
					str += "<h3>"+timestamp+"</h3>";
					str += "<div class='message'>";
					str += "<b>"+message+"</b>";
					str += "</div></li>";
					$("#chat").append(str);
				}
				else{
					str = "<li class='you'>";
					str += "<div class='entete'>";
					str += "<h2>"+writer+"</h2></div>";
					str += "<div class='message'>";
					str += "<b>"+message+"</b></div>";
					str += "<h3>"+timestamp+"</h3></li>";
					$("#chat").append(str);
				}
			}  
		});
		
		
		
		
		
		// 좌측 대화내용을 가져옴
		stomp.subscribe("/sub/chat/side/"+roomId,(chat)=>{
			let $chattingPerson = document.querySelectorAll(".chattingPerson");
			
			for(let i=0; i<talkList.length; i++){
				$chattingPerson[i].addEventListener("mouseover",()=>{
					console.log("확인");
				});
			}
			
			let content = JSON.parse(chat.body);
			
			let str = '';
			let writer = content.writer;
			let message = content.message;
			
			let array=[];
			talkList.forEach((index)=>{
				array.push(index.user);
			});
			
			if(!array.includes(talkerName)){
				console.log("포함 안함");
				str += "<form action='/chat/visit' method='post' class='chattingPerson' id='chattingPerson'>";
				str += "<input type='hidden' name='talkerName' value='"+talkerName+"'>"
				str +="<button id='chattingListBTN' type='submit'>"
				str += "<img class='userImg' src='/img/chat/user.png' alt=''>";
				str += "<label id='deleteTag'>";
				str += "<h2 id='talkUserName'>"+talkerName+"</h2>";
				str += "<h3>"+message+"</h3></label></button></form>";
				$('.chattingList').append(str);
			}else{
				let address="#hidden_"+talkerName;
				$(address).html(message);
				console.log("포함");
			}
			
			
			
			
		});
		
		
	});



	// 버튼 클릭 시 메시지 보내기
	$("#button-send").on("click", (e)=>{
		let msg = document.getElementById("msg");

		console.log(me + ":" + msg.value);
		stomp.send(
			'/pub/chat/message',
			{},
			JSON.stringify({roomId: roomId, message: msg.value, writer: me})
		);
		msg.value = '';
	});

	// ENTER키 눌렀을 때 메시지 보내기
	$("#msg").on("keydown", (e)=>{
		if (e.key === "Enter") {
			e.preventDefault();
			let msg = document.getElementById("msg");

			console.log(me + ":" + msg.value);
			console.log(roomId);
			stomp.send(
				'/pub/chat/message', 
				{}, 
				JSON.stringify({roomId: roomId, message: msg.value, writer: me})
			);
			
			msg.value = '';

			return false;
		}
	});
	
	
	
	inputEvent=()=>{
		$UserListDrop=document.getElementById("UserListDrop");
		
		$UserListDrop.innerHTML="";
		if($UserListDrop.innerHTML.trim()===""){
			let UserList = $searchUser.value;
			console.log(UserList);
			$.ajax({
				type : 'POST',
				url : "/chat/UserList",
				dataType : "JSON",
				data : ({
					userid : UserList
				}),
				success:(response)=>{
					response.forEach(item=>{
						let str = "<button class='UserList'>"+item.userid+"</button>";
						$("#UserListDrop").append(str);
					});
				},
				error :(request, status, error)=>{
					console.log(error);
				}
			})
		}
		
	};
	
	$searchUser.addEventListener('input', inputEvent);
	
	 
});
</script>



<body>
	<div class="chat_container" style="background-color: #eff3f7;">
		<aside>
			
			<header>
				<div id="userPlusButton"></div>
				<input type="text" id="searchUser" placeholder="search">
				<div class="UserListDrop" id="UserListDrop">
			</header>
			
			<!-- 왼쪽 대화상대 창 -->
			<ul class='chattingList' id='chattingList'></ul>
			
		</aside>

		<main>
			<header>
				<img src="/img/chat/user.png" alt="">
				<div>
					<h2 th:text="${talkerName}"></h2>
				</div>
			</header>

			<!-- 메시지 전송 및 받기 -->
			<div class="body" style="vertical-align: bottom">
				<ul id="chat"></ul>
			</div>
				
			<footer>	
				<input type="text" placeholder="입력하시오." id="msg" >
				<button type="button" id="button-send" >
					<img src="/img/chat/dm.png" class="dm-icon" id='dm' alt="">
				</button>
			</footer>	
		</main>
	</div>
</body>
</html>