<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<link th:href="@{/css/chatting.css}" rel="stylesheet">
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js}"></script>
<script th:inline="javascript">			//대화상대와 roomId를 var로 받아오는 스크립트
	let talkerName = /*[[${talkerName}]]*/ "";
	let roomId = /*[[${roomId}]]*/ "";
	let me = sessionStorage.getItem('userid');
	let talkList=/*[[${talkList}]]*/[];
	let messageList = /*[[${MsgList}]]*/[];
	let meNum = /*[[${meNum}]]*/ "";
</script>

<script>
	window.onload=()=>{
		// 좌측 유저리스트 중 유저명
		
		// db에서 chattingRoom List 가져오기
		talkList.forEach((index)=>{
			// side 채팅리스트 정의
			let str = "<form action='/chat/visit' method='post' class='chattingPerson' id='chattingPerson'>";
				str += "<input type='hidden' name='talkerName' value='"+index.user+"'>"
				str +="<button id='chattingListBTN' type='submit'>"
				str += "<img class='userImg' src='/img/chat/user.png' alt=''>";
				str += "<label id='deleteTag'>";
				str += "<h2 id='talkUserName'>"+index.user+"</h2>";
				str += "<h3 id='lastMsg_"+talkerName+"'>"+index.last+"</h3></label></button></form>";
			$('.chattingList').prepend(str);
			
			
		});	

		// main채팅 내역을 db에서 가져옴
		messageList.forEach((index)=>{
			if(index.writer===me){
				let str = "<li class='me'>";
					str += "<div class='entete'>";
					str += "<h2>"+index.writer+"</h2></div>";
					str += "<h3>"+index.timestamp+" </h3>";
					str += "<div class='message'>";
					str += "<b>" + index.message+ "</b>";
					str += "</div></li>";
				$("#chat").append(str);
			}
			else{
				let str = "<li class='you'>";
					str += "<div class='entete'>";
					str += "<h2>"+index.writer+"</h2></div>";
					str += "<div class='message'>";
					str += "<b>" +index.message+ "</b></div>";
					str += "<h3>"+index.timestamp+" </h3></li>";
					$("#chat").append(str);
			}
		});
		

	};
	
	window.onunload=()=>{
		// 좌측 유저명 검색 input
		let $searchUser = document.getElementById("searchUser");
		
		$searchUser.removeEventListener('input', inputEvent);
	};
	
</script>


<script>
	// 새로운 채팅을 append하기 위해
	const $chat = document.getElementById('chat');
	// 새로운 채팅리스트를 append하기 위해
	const $chattingList = document.getElementById('chattingList');
	
	
	let sockJs = new SockJS("/ws-stomp");
	//1. SockJS를 내부에 들고있는 stomp를 내어줌
	let stomp = Stomp.over(sockJs);


    //2. main채팅창 connection이 맺어지면 실행
	stomp.connect({},()=>{
		
		//4. subscribe(path, callback)으로 메세지를 받을 수 있음
		stomp.subscribe("/sub/chat/room/"+roomId, (chat) => {
			
			let content = JSON.parse(chat.body);

			let str = '';
			let writer = content.writer;
			let message = content.message;
			let timestamp = content.timestamp;
			if(message===''){
				return;
			}else{
				if(writer === me){
					str = "<li class='me'>";
					str += "<div class='entete'>";
					str += "<h2>"+writer+"</h2></div>";
					str += "<h3>"+timestamp+"</h3>";
					str += "<div class='message'>";
					str += "<b>"+message+"</b>";
					str += "</div></li>";
					$('#chat').append(str);
				}
				else{
					str = "<li class='you'>";
					str += "<div class='entete'>";
					str += "<h2>"+writer+"</h2></div>";
					str += "<div class='message'>";
					str += "<b>"+message+"</b></div>";
					str += "<h3>"+timestamp+"</h3></li>";
					$('#chat').append(str);
				}
			}  
		});
		
		
		// 좌측 대화내용 추가
		stomp.subscribe("/sub/chat/side/"+meNum,(chat)=>{
			
			let content = JSON.parse(chat.body);
			
			
			let str = '';
			let writer = content.writer;
			let message = content.message;
			
			// 대화상대 배열
			let array=[];
			
			// 대화상대 추가용
			const $chattingList =document.getElementById('chattingList');
			const talkUserNameH2 = $chattingList.getElementsByTagName('h2');
			for(let i=0; i<talkUserNameH2.length; i++){
				array.push(talkUserNameH2[i].innerText);
			}
			const $chattingPerson = document.getElementsByClassName('chattingPerson');

			
			// 새로운 채팅창에 writer가 나라면 지금 대화하고 있는 상대로
			if(writer===me&&!array.includes(talkerName)){
				str += "<form action='/chat/visit' method='post' class='chattingPerson' id='chattingPerson'>";
				str += "<input id='hidden' type='hidden' name='talkerName' value='"+talkerName+"'>"
				str +="<button id='chattingListBTN' type='submit'>"
				str += "<img class='userImg' src='/img/chat/user.png' alt=''>";
				str += "<label id='deleteTag'>";
				str += "<h2 id='talkUserName'>"+talkerName+"</h2>";
				str += "<h3>"+message+"</h3></label></button></form>";
				$('#chattingList').prepend(str);
			}
			// 새로운 채팅창에 wirter가 남이라면 무조건 남이
			else if(writer!==me&&!array.includes(writer)){
				str += "<form action='/chat/visit' method='post' class='chattingPerson' id='chattingPerson'>";
				str += "<input id='hidden' type='hidden' name='talkerName' value='"+writer+"'>"
				str +="<button id='chattingListBTN' type='submit'>"
				str += "<img class='userImg' src='/img/chat/user.png' alt=''>";
				str += "<label id='deleteTag'>";
				str += "<h2 id='talkUserName'>"+writer+"</h2>";
				str += "<h3>"+message+"</h3></label></button></form>";
				$('#chattingList').prepend(str);
			}
			// 있던 채팅창에 wirter가 나라면 지금 대화하고 있는 상대로
			else if(writer===me&&array.includes(talkerName)){
				for(let i =0; i<array.length; i++){
					if(array[i]===talkerName){
						$chattingPerson[i].remove();
					}
				}
				
				str += "<form action='/chat/visit' method='post' class='chattingPerson' id='chattingPerson'>";
				str += "<input id='hidden' type='hidden' name='talkerName' value='"+talkerName+"'>"
				str +="<button id='chattingListBTN' type='submit'>"
				str += "<img class='userImg' src='/img/chat/user.png' alt=''>";
				str += "<label id='deleteTag'>";
				str += "<h2 id='talkUserName'>"+talkerName+"</h2>";
				str += "<h3>"+message+"</h3></label></button></form>";
				$('#chattingList').prepend(str);
			}
			// 있던 채팅창에 wirter가 남이라면 남으로다가
			else if(writer!==me&&array.includes(writer)){
				for(let i =0; i<array.length; i++){
					if(array[i]===writer){
						$chattingPerson[i].remove();
					}
				}
				
				str += "<form action='/chat/visit' method='post' class='chattingPerson' id='chattingPerson'>";
				str += "<input id='hidden' type='hidden' name='talkerName' value='"+writer+"'>"
				str +="<button id='chattingListBTN' type='submit'>"
				str += "<img class='userImg' src='/img/chat/user.png' alt=''>";
				str += "<label id='deleteTag'>";
				str += "<h2 id='talkUserName'>"+writer+"</h2>";
				str += "<h3>"+message+"</h3></label></button></form>";
				$('#chattingList').prepend(str);
			}
			array=[];
		});

	});


	// 버튼 클릭 시 메시지 보내기
	sendBTN=()=>{
		let msg = document.getElementById('msg');
		
		
		console.log(me + ":" + msg.value);
		stomp.send(
			'/pub/chat/message',
			{},
			JSON.stringify({roomId: roomId, message: msg.value, writer: me})
		);
		msg.value = '';
		
		return false;
	};
	
	// ENTER키 눌렀을 때 메시지 보내기
	enterSend=(e)=>{
		let msg = document.getElementById('msg');
		
		if (e.key === "Enter") {
			e.preventDefault();

			console.log(me + ":" + msg.value);
			stomp.send(
				'/pub/chat/message', 
				{}, 
				JSON.stringify({roomId: roomId, message: msg.value, writer: me})
			);
			
			msg.value = '';
		}
		return false;
	};
</script>


<script>
	
$(document).ready(()=>{
	// 좌측 유저명 검색 input
	const $searchUser = document.getElementById("searchUser");
	// 클래스 명을 변경가능하게 하기위해 var을 사용
	let $UserListDrop = document.getElementById("UserListDrop");
	// 드롭다운 각각의 list의 버튼태그
	let $UserListBTN=$UserListDrop.getElementsByTagName('button');
	// 방향키 카운터
	let count = -1;
	
	// 좌측 검색창에서 user 검색
	userSearchFNC=(UserList)=>{
		$.ajax({
			type : 'POST',
			url : "/chat/UserList",
			dataType : "JSON",
			data : ({
				userid : UserList
			}),
			success:(response)=>{
				response.forEach(item=>{
					// 드롭 다운 실행 조건
					if(!$UserListDrop.classList.contains('show')&&item.userid!==null){
						$UserListDrop.classList.add('show');						
					}
					console.log(item.userid);
					// 드롭다운이 실행되면 userList출력
					if($UserListDrop.classList.contains('show')){
						let str = "<button class='UserList'>"+item.userid+"</button>";
						$("#UserListDrop").append(str);
					}
					
				});
			},
			error :(request, status, error)=>{
				console.log(error);
			}
		})
	};


	// 좌측 검색창 마우스 over로 요소 선택
	$UserListDrop.addEventListener('mouseover',()=>{
		for(let i=0; i<$UserListBTN.length; i++){
			$UserListBTN[i].addEventListener('mouseover',()=>{
				if($searchUser.value!==""){
					$searchUser.value="";
				}
				$searchUser.value=$UserListBTN[i].innerText;
				 
			});
		}
		return false;
	});

	
	// user명 검색 시 db에서 user명 출력 함수
	inputEvent=()=>{
		$searchUser.removeEventListener('click', clickEvent);
		
		$UserListDrop=document.getElementById("UserListDrop");
		
		$UserListDrop.innerHTML="";
		if($UserListDrop.innerHTML.trim()===""){
			let UserList = $searchUser.value;
			console.log(UserList);

		}
		
		userSearchFNC(UserList);		
	};

	
	// 드롭다운에 user명 검색
	$searchUser.addEventListener('input', inputEvent);
	
	
	// 다시 검색 시도 시 드롭다운 실행 함수
	clickEvent=()=>{
		let UserList = $searchUser.value;
		
		userSearchFNC(UserList);
		
	return false;
	};
	
	// 클릭시  드롭다운 실행 함수 적용
	$searchUser.addEventListener('click', clickEvent);
	
	
	
	
	$searchUser.addEventListener('keydown',(e)=>{
		// 유저 버튼에 생긴 'on'모두 지우기
		for(let i=0; i<$UserListBTN.length; i++){
			$UserListBTN[i].classList.remove('on');	
		}
		
		// input창에 내용 모두 지우기
		$searchUser.value="";
		

		// 아랫방향키 이벤트
		if(e.key === "ArrowDown"&&count<$UserListBTN.length-1){
			if(!$UserListDrop.classList.contains('show')){
				$UserListDrop.classList.add('show');
			}
			count++;
		}
		// 윗 방향키 이벤트
		else if(e.key === "ArrowUp"&&count>=0){
			count--;
			// 가장 위에까지 선택 되었을 때, 윗 방향키 동작 시
			if(count==-1){
				$UserListDrop.classList.remove('show');
			}
		}
		
		// 해당하는 버튼만 선택될 수 있도록 한다.
		if(count>-1){
			$UserListBTN[count].classList.toggle('on');
			$searchUser.value=$UserListBTN[count].innerText;
		}
	
	});
	
	// 드롭다운 종료 함수
	blurEvent=()=>{
		if($UserListDrop.classList.contains('show')){
			$UserListDrop.classList.remove('show');						
		}
		// 드롭다운 안에 있는 userList모두 제거
		$UserListDrop.innerHTML="";
	};
	
	// 드롭다운 종료
	$searchUser.addEventListener('blur', blurEvent);

});
</script>



<body>
	<div class="chat_container" style="background-color: #eff3f7;">
		<aside>
			
			<header>
				<div id="userPlusButton"></div>
				<input type="text" id="searchUser" placeholder="search">
				<div class="UserListDrop" id="UserListDrop">
			</header>
			
			<!-- 왼쪽 대화상대 창 -->
			<ul class='chattingList' id='chattingList'></ul>
			
		</aside>

		<main>
			<header>
				<img src="/img/chat/user.png" alt="">
				<div>
					<h2 th:text="${talkerName}"></h2>
				</div>
			</header>

			<!-- 메시지 전송 및 받기 -->
			<div class="body" style="vertical-align: bottom">
				<ul id="chat"></ul>
			</div>
				
			<footer>	
				<input type="text" placeholder="입력하시오." id="msg" onkeypress="enterSend(event)">
				<button type="button" id="sendBTN" onclick="sendBTN()">
					<img src="/img/chat/dm.png" class="dm-icon" id='dm' alt="">
				</button>
			</footer>	
		</main>
	</div>
</body>
</html>